01-end-to-end-ml-with-tf-on-gcp
02-gcp-production-ml-systems
# 03-image-understanding-tensorflow-gcp
# 04-sequence-models-tensorflow-gcp
# 05-recommendation-models-gcp
gcp-production-ml-systems-syllabus-parsed.json
notes-code-various-gcp-ml_v001.md
notes-code-various-gcp-ml_v003.md
